@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: var(--font-inter); /* this makes inter the default font */
  --font-inter: var(--font-inter);
  --font-libre: var(--font-libre);

  /* Color System */
  --color-primary: #fe5d26;
  --color-primary-light: #ffb899;
  --color-light: #fff3ee;
  --color-secondary: #4b5563;
  --color-dark: #292524;
  --color-primary-hover: #e54d18;
  /* Text Color */
  --color-text-primary: #111827;
  --color-text-secondary: ##9a9a9a;
  --color-text-muted: #9a9a9a;
}
